body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1f2937;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #6943ff;
  height: 285px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 8px;
}

input {
  border: 2px solid #b295ff;
  background-color: #6943ff;
  color: #ffffff;
  height: 83px;
  width: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 58px;
  font-weight: 800;
  margin-bottom: 20px;
}

button {
  height: 40px;
  width: 117px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: scale(1.02);
}

.conversions {
  display: block;
  margin: auto;
  margin-top: 24px;
  background-color: #273549;
  height: 109px;
  width: 500px;
  border-radius: 3px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ccc1ff;
}

p {
  color: #ffffff;
  font-size: 14px;
}
